
# .................................................. 
# Automatically-generated list of documented objects 
# .................................................. 
export("air")
export("allspecies")
export("ascent")
export("as.character.gas")
export("as.data.frame.hm")
export("bestdoubledive")
export("capable")
export("chop.dive")
export("conform")
export("deco.ceiling")
export("depths.dive<-")
export("depths.dive")
export("descent")
export("dive")
export("dive.segment")
export("durations.dive<-")
export("durations.dive")
export("ead")
export("eadtable")
export("END")
export("gasnames")
export("haldane")
export("hm")
export("is.air")
export("is.dive")
export("is.gas")
export("is.nitrox")
export("is.rate")
export("M0mix")
export("maxmix")
export("Mmix")
export("mod")
export("ndl")
export("nitrox")
export("oxtox")
export("param")
export("pickmodel")
export("plot.dive")
export("ppO2")
export("print.dive")
export("print.gas")
export("print.hm")
export("print.rate")
export("print.summary.dive")
export("print.summary.gas")
export("print.summary.hm")
export("rate")
export("reconcile.df")
export("resolve.defaults")
export("saturated.state")
export("scuba.constants")
export("showstates")
export("summary.dive")
export("summary.gas")
export("summary.hm")
export("tanklist<-")
export("tanklist")
export("times.dive<-")
export("times.dive")
export("timetaken")
export("trimix")
export("whichtank<-")
export("whichtank")
# native routines are mapped to symbols in the namespace
useDynLib(scuba, .registration=TRUE, .fixes="Cscuba")
# dependencies
importFrom("stats", "complete.cases", "uniroot", "approxfun")
importFrom("graphics",
           "axis", "legend", "text", "par", "frame",
           "plot", "locator", "barplot", "mtext", "abline")
importFrom("utils", "flush.console")
# methods
S3method("as.character","gas")
S3method("as.data.frame", "hm")
S3method("plot", "dive")
S3method("print", "dive")
S3method("print", "gas")
S3method("print", "hm")
S3method("print", "rate")
S3method("print", "summary.dive")
S3method("print", "summary.gas")
S3method("print", "summary.hm")
S3method("summary", "dive")
S3method("summary", "gas")
S3method("summary", "hm")
